<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <!--<connectionStrings>
    <add name="ACEContext"
			providerName="System.Data.SqlClient" connectionString="Server=57237f34-54a4-4cfd-8585-a23000af6560.sqlserver.sequelizer.com;Database=db57237f3454a44cfd8585a23000af6560;User ID=foclltydywdkqqdz;Password=8tyEbQoknWpENGXME7E4g66XtEwzoKdJYFppsGiDu4oMFzByeC3NhnXbwHmCsV6J;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>-->
	
	<connectionStrings>
		<add name="ACEContext"
			providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=ACEContext; Trusted_Connection=true;Integrated Security=True;MultipleActiveResultSets=True"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	 
  <system.web>
    <!--
	Server=1b38dc53-a7fb-4d42-bfc2-a22f0167408e.sqlserver.sequelizer.com;Database=db1b38dc53a7fb4d42bfc2a22f0167408e;User ID=roqkhozcojpashfg;Password=X7Sgigg7jngYchPuXYYYhsruurQvsMcmgvczgiFHBQoeAeczQpk2AxgDNxUYxSME;
	Server=.\SQLEXPRESS;Database=ACEContext; Trusted_Connection=true;Integrated Security=True;MultipleActiveResultSets=True
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>