@{
    ViewBag.Title = "Kontakt";
}

@Html.Partial("PageTitlePartial")

<img class="img-thumbnailNoBorder" src="/Images/mail.png" data-src="holder.js/250x250" alt="250x250" style="width: 250px; height: 250px; float:right;">

<section class="contact">
    <header>
        <h3>Telefon:</h3>
    </header>
    <p>
        <span>608 517 464</span>
    </p>
    <p>
        <span>tel na verču</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:ACESupport@example.com">ACESupport@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adresa</h3>
    </header>
    <p>
        Veronika Navrátilová<br />
        Ulice xx<br />
        6xx 00<br />
        Brno<br />
    </p>
</section>