@{
    ViewBag.Title = "Kontakt";
}

@Html.Partial("PageTitlePartial")

<p>Pro technickou podporu využijte email.</p>

<img class="img-thumbnailNoBorder" src="/Images/mail.png" data-src="holder.js/250x250" alt="250x250" style="width: 250px; height: 250px; float:right;">

<section class="contact">
    <header>
        <h3>Telefon:</h3>
    </header>
    <p>
        <span>775 524 921</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:acepodpora@gmail.com">ACEPodpora@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adresa</h3>
    </header>
    <p>
        Veronika Navrátilová<br />
        Dvořákova 8<br />
        602 00<br />
        Brno<br />
    </p>
</section>