@{
    ViewBag.Title = "Stažení testovací verze";
}

@Html.Partial("PageTitlePartial")

<a href="/Content/ace.exe" class="btn btn-default" target="_blank" > <span class="glyphicon glyphicon-download"></span> Stáhnout instalační balíček ACE 2.0</a>

<div>
    <h3>Systémové požadavky:</h3>
</div>

<ul class="list-group">
  <li class="list-group-item">
        <h4>Operační systém:</h4>
        <ul class="list-styled">
            <li>Windows XP SP3</li>
            <li>Windows Server 2003 SP2</li>
            <li>Windows Vista SP1 nebo vyšší</li>
            <li>Windows Server 2008</li>
            <li>Windows 7</li>
            <li>Windows 8</li>
            <li>Windows Server 2008 R2</li>
            <li>Windows 7 SP1</li>
            <li>Windows Server 2008 R2 SP1</li>
        </ul>
  </li>
  <li class="list-group-item">
        <h4>Podporované architektury:</h4>
        <ul class="list-styled">
            <li>x86</li>
            <li>x64</li>
        </ul>
  </li>
  <li class="list-group-item">
        <h4>Hardware požadavky:</h4>
        <ul class="list-styled">
            <li>Procesor: Pentium 1 GHz nebo lepší</li>
            <li>512 MB RAM nebo více</li>
            <li>Disk: 150MB</li>
        </ul>
  </li>
  <li class="list-group-item">
        <h4>Software:</h4>
        <ul class="list-styled">
            <li>Prohlížeč: Google Chrome, Internet Explorer 9.0 nebo vyšší</li>
            <li>Systémové součásti: .NET Framework 4.0</li>
        </ul>
  </li>
</ul>

<a href="https://www.google.com/chrome" class="btn btn-default" target="_blank" > <span class="glyphicon glyphicon-download"></span> Stažení Google Chrome</a>
<a href="http://www.microsoft.com/cs-cz/download/details.aspx?id=17851" class="btn btn-default" target="_blank" > <span class="glyphicon glyphicon-download"></span> Stažení .NET Framework 4.0</a>