@{
    ViewBag.Title = "ACE Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Základní informace:</h3>
<ol class="round">
    <li class="one">
        <h5>Úvod</h5>
        Základní text o ACE
    </li>

    <li class="two">
        <h5>ACE Agent</h5>
        Něco málo o webovém agentovi, k čemu je atd...
    </li>

    <li class="three">
        <h5>ACE Desktop</h5>
        Něco málo o desktop aplikaci...
    </li>
</ol>
