@{
    ViewBag.Title = "Index";
}

<div class="container marketing">
    <div class="row">

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon1.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Testovací verze</h2>
            <p>Stáhněte si zdarma testovací verzi systému ACE 2.0 a vyzkoušejte jeho výhody.</p>
            <p><a class="btn btn-default" href="#">Stáhnout ACE 2.0 »</a></p>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon2.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Informace o ACE</h2>
            <p>Objevte všechny funkce systému ACE 2.0, které vám ulehčí každodenní práci s Vaším eshopem.</p>
            <p><a class="btn btn-default" href="#">Informace o ACE 2.0 »</a></p>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon3.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Obchodní podmínky</h2>
            <p>Seznamte se s podmínkami používání systému ACE 2.0 a způsoby platby za jeho služby.</p>
            <p><a class="btn btn-default" href="#">Obchodní podmínky »</a></p>
        </div>
    </div>
</div>
@section Carousel
{
    @Html.Partial("_Carousel")
}

