@{
    ViewBag.Title = "Informace o systému ACE 2.0";
}

@Html.Partial("PageTitlePartial")

<div>
    <p>
        <p>Systém ACE 2.0 slouží ke snadné, rychlé kontrole a úpravě databáze eshopů a přeceňování dle ceníků konkrétní dodavatelů. Dokáže usnadnit a zrychlit spravu vašeho eshopu zautomatizováním běžných činností spojených
        s provozem vašeho eshopu a ušetřit vám tak až desítky hodin manuální práce měsíčně, které můžete věnovat zlepšování vašeho eshopu a tak získávání nových zákazníků. Unikátní vlastností systému ACE je jeho návaznost na konkrétní dodávatele.</p>
    </p>
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="~/Images/download-icon.png/g/75/75" height="75px" width="75px" border="1px"></p>
    <p><b>&nbsp;Rychlé řešení a bezpečné řešení</b></p>
    <p>&nbsp;Stačí stáhnout, nainstalovat, zadat přihlašovací údaje pro váš eshop a můžete systém ihned používat.</p>
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="~/Images/modules-icon.png/g/75/75" height="75px" width="75px" border="1px"></p>
    <p><b>&nbsp;Modulární systém</b></p>
    <p>&nbsp;Systém ACE 2.0 je složen z funkčně oddělených modulů, jenž můžete objednávat nezávisle na sobě a dosáhnout tak vámi požadované funkcionality. Platíte tedy pouze za to co skutečně využijete a systém vás nezatěžuje hromadou zbytečných funkcí.</p>
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="~/Images/database-check-icon.png/g/75/75" height="75px" width="75px" border="1px"></p>
    <p><b>&nbsp;Modul Kontrola databáze eshopu</b></p>
    <p>&nbsp;Modul obsahuje funkce umožňujíci nalézt slabá místa vaší databáze, například produkty bez zadané kategorie, výrobce, váhy, popisu, ceny... Modul též dokáže zkontrolovat, zda vaši dodavatelé stále dodávají všechno zboží jenž máte ve svém eshopu. Všechny nalezené chyby mužete ihned ze systému ACE 2.0 opravit.</p>
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="~/Images/price-tag-icon.png/g/75/75" height="75px" width="75px" border="1px"></p>
    <p><b>&nbsp;Modul Přeceňování eshopu</b></p>
    <p>&nbsp;Modul obsahuje funkce pro přeceňování vašeho eshopu podle ceníku vámi zvolených dodavatelů. Systém dokáže zboží vybraného výrobce(ů), dodavatele(ů) a kategorie(í) přecenit podle vašich požadavků. Můžete přeceňovat podle cen dodavatelů. či jen upravit ceny vašehe eshopu nezávisle na ceníku dodavatelů.</p>
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="~/Images/users-icon.png/g/75/75" height="75px" width="75px" border="1px"></p>
    <p><b>&nbsp;Jednotná administrace</b></p>
    <p>&nbsp;S jedním účtem můžete spravovat můžete z jednoho místa (webového rozhraní) spravovat všechny vaše eshopy.</p>
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="~/Images/update-icon.png/g/75/75" height="75px" width="75px" border="1px"></p>
    <p><b>&nbsp;Častá aktualizace, opravy chyb a nová funkcionalita</b></p>
    <p>&nbsp;Veškeré opravy a nové funkce dostanete zdarma k dispozici ve formě aktualizace aplikace. V brzké době se můžete těšit například na práci s produktovými obrázky, automatické přidávání nového zboži dle ceníku dodavatele, či porovnávání cen zboží jednotlivých dodavatelů k výběru nejlevnějšího dodavatele. Další typy eshopů a další podporovaní dodavatelé jsou v přípravě.</p>
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="~/Images/product-icon.png/g/75/75" height="75px" width="75px" border="1px"></p>
    <p><b>&nbsp;Podporované eshopy</b></p>
         &nbsp; Prestashop
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="~/Images/list-icon.png/g/75/75" height="75px" width="75px" border="1px"></p>
    <p><b>&nbsp;Podporovaní dodavatelé</b></p>
        &nbsp;Askino<br>
        &nbsp;Noviko
</div>

<br></br>
@Html.ActionLink("Zpět", "Index", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
 