@{
    ViewBag.Title = "Informace o systému ACE 2.0";
}

@Html.Partial("PageTitlePartial")



•	11. FAQ – Frequently asked questions neboli často kladené otázky jsou užitečné z několika důvodů. V první řadě logicky odpovídají na ty otázky, které vaše návštěvníky často zajímají. Zadruhé umožňují umístit na váš web vhodná klíčová slova, což vám pomůže přivést další návštěvníky. A konečně, zpracujete-li tuto sekci kvalitně v kombinaci s dobře poskytnutými informacemi, nebudete pouhým prodejcem zboží, ale prokážete, že svému zboží skutečně rozumíte.
•	12. O nás – je vždy vhodné převyprávět příběh vašeho byznysu. Nepište o tom, co děláte, ale proč to děláte. Dejte svému obchodu příběh a tvář. Sekce O nás je výborným místem, kde můžete začít navazovat se svým návštěvníkem osobní vztah.
•	14. Informace o zboží – nepoužívejte unifikované popisky. Mluvte o zboží vlastním jazykem, kterému budou návštěvníci naslouchat. Hezké a názorné fotografie jsou v e-shopu nutností. Oběma těmto tématům se budeme věnovat v dalších článcích.
•	15. USP – Unique selling proposition neboli česky unikátní prodejní argument. O něm vám přineseme článek v příštím týdnu.



<ul class="list-group">
    <li class="list-group-item">
        <h4>Aplikace sloužící ke snadné a rychlé kontrole konzistence databáze eshopů a její přeceňování dle ceníků dodavatelů.</h4>
    </li>
    <li class="list-group-item">
        <h4>Funkce systému:</h4>
        <img class="img-thumbnailNoBorder" src="/Images/mail.png" data-src="holder.js/250x250" alt="250x250" style="width: 250px; height: 250px; float:right;">
        <ul class="list-styled">
            <li>Windows XP SP3</li>
            <li>Windows Server 2003 SP2</li>
            <li>Windows Vista SP1 nebo vyšší</li>
            <li>Windows Server 2008</li>
            <li>Windows 7</li>
            <li>Windows 8</li>
            <li>Windows Server 2008 R2</li>
            <li>Windows 7 SP1</li>
            <li>Windows Server 2008 R2 SP1</li>
        </ul>
    </li>
    <li class="list-group-item">
        <h4>Podporované eshopy:</h4>
        <ul class="list-styled">
            <li>x86</li>
            <li>x64</li>
        </ul>
    </li>
    <li class="list-group-item">
        <h4>Podporovaní dodavatelé:</h4>
        <ul class="list-styled">
            <li>Procesor: Pentium 1 GHz nebo lepší</li>
            <li>512 MB RAM nebo více</li>
            <li>Disk: 150MB</li>
        </ul>
    </li>
    <li class="list-group-item">
        <h4>Software:</h4>
        <ul class="list-styled">
            <li>Prohlížeč: Google Chrome, Internet Explorer 9.0 nebo vyšší</li>
            <li>Systémové součásti: .NET Framework 4.0</li>
        </ul>
    </li>
</ul>



@Html.ActionLink("Zpět", "Index", routeValues: null, htmlAttributes: new { @class="btn btn-default" })


<div>
    <p style="float: left;"><img src="http://placekitten.com/g/200/200" height="200px" width="200px" border="1px"></p>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div>
<div style="clear: left;">
    <p style="float: left;"><img src="http://placekitten.com/g/200/200" height="200" width="200" border="1px"></p>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div>