@model ACEAgent.Models.PaymentFacture
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}
<paragraph style="font-family:Helvetica;font-size:18;font-style:italic;">
    <chunk style="font-weight:bold;">@ViewBag.Title</chunk>
</paragraph>


Označení Faktura, v případě, že fakturujete s DPH je označení Faktura nepovinné, ale musí být uvedeno označení Daňový doklad
Jméno a adresu toho, kdo ji vydal
Jméno (název firmy) a adresu toho, komu je určena
Datum vydání a datum splatnosti
Pokud je faktura určena plátci DPH, musí obsahovat datum zdanitelného plnění
Pořadové číslo, to musí být jedinečné


<table width="100%" cellpadding="0.5" cellspacing="0.5" widths="30;60" borderwidth="1.0" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row>
        <cell>
            <chunk style="font-weight:bold;">Dodavatel:</chunk>
        </cell>
        <cell>
            <chunk style="">@Model.IssuerName</chunk>
        </cell>
    </row>
    <row>
        <cell>
            <chunk style="font-weight:bold;">Odběratel:</chunk>
        </cell>
        <cell>
            <chunk style="">@Model.ReceiverName</chunk>
        </cell>
    </row>
</table>

