    <div id="myCarousel" class="carousel slide" style="margin-top: 0px">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="~/Content/images/carousel3.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>ACE 2.0</h1>
              <p>Systém sloužící ke snadné a rychlé kontrole konzistence databáze eshopů a její přeceňování dle ceníků dodavatelů.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Dozvědět se více</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/carousel2.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>ACE 2.0</h1>
              <p>Nějaký text</p>
              <p><a class="btn btn-lg btn-primary" href="#">Stáhněte si testovací verzi ACE 2.0</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/carousel1.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>ACE 2.0</h1>
              <p>Nějaký text</p>
              <p><a class="btn btn-lg btn-primary" href="#">Stáhněte si testovací verzi ACE 2.0</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->