    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 0px;">
      <!-- Indicators -->
      
      <div class="carousel-inner" style="height: 450px;">
        <div class="item active">
          <img src="~/Content/images/carousel1.jpg" data-src="holder.js/100%x200/auto/#777:#7a7a7a/text:First slide" alt="First slide" style="height: 450px;">
          <div class="container">
            <div class="carousel-caption">
              <h3>Systém ACE - Vaše eso proti konkurenci</h3>
              <p><h5>ACE 2.0 je systém pro snadnou a rychlou kontrolu, úpravu databáze e-shopu a jednoduché přeceňování dle ceníků dodavatelů.</h5></p>
              <p><input type="button" class="btn btn-primary" value="Dozvědět se více »" onclick="location.href='@Url.Action("Info", "Home")    '" /></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/carousel2.jpg" data-src="holder.js/100%x300/auto/#777:#7a7a7a/text:Second slide" alt="Second slide" style="height: 450px;">
          <div class="container">
            <div class="carousel-caption">
              <h3>Kontrola databáze eshopu</h3>
              <p><h5>ACE 2.0 umožňuje nalézt slabá místa vaší databáze, například produkty bez zadané kategorie, výrobce, váhy, popisu, ceny... Dokáže též zkontrolovat, zda vaši dodavatelé stále dodávají všechno zboží jenž máte ve svém eshopu. Všechny nalezené chyby mužete ihned ze systému ACE 2.0 opravit.</h5></p>
              <p><input type="button" class="btn btn-primary" value="Dozvědět se více »" onclick="location.href='@Url.Action("Info", "Home")    '" /></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/carousel1.jpg" data-src="holder.js/100%x300/auto/#777:#7a7a7a/text:Third slide" alt="Third slide" style="height: 450px;">
          <div class="container">
            <div class="carousel-caption">
              <h3>Přeceňování eshopu</h3>
              <p><h5>ACE 2.0 dokáže přeceňit celý váš eshop či jeho část podle ceníku vámi zvolených dodavatelů. Můžete přeceňovat podle cen vašich dodavatelů, či jen upravit ceny vašehe eshopu nezávisle na ceníku dodavatelů.<h5></p>
              <p><input type="button" class="btn btn-primary" value="Dozvědět se více »" onclick="location.href='@Url.Action("Info", "Home")    '" /></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>

<script type="text/javascript">
    var $ = jQuery.noConflict();
    $(document).ready(function() { 
        $('#myCarousel').carousel({ interval: 3000, cycle: true });
    }); 
</script>


