@if (Request.IsAuthenticated) {
    <text>
        Vítejte, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Odhlásit</a>
        }
    </text>
} else {
    <ul>
        <input type="button" class="btn btn-info" value="Registrovat" onclick="location.href='@Url.Action("Register", "Account")'" />
        <input type="button" class="btn btn-info" value="Přihlásit" onclick="location.href='@Url.Action("Login", "Account")'" />
    </ul>
}
